table {
  width: 40%;
  border:1px solid black;
  text-align: center;
}

td {
  /* border:1px solid black; */
  text-align: center;
  width: 14.2857%;
  height: 30px;
}

.dimmed {
  opacity: 0.35;
}

.active:hover {
  background-color: rgb(209, 125, 35);
  cursor: pointer;
}

.arrow:hover {
  background-color: gray;
  cursor: pointer;
}

.topDate {
  font-size: 20px;
}




